body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/footer_lodyas.png");
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
    color: yellow;
    white-space: nowrap;
}

#currentTime {
    font-size: 22px;
    font-weight: bold;
}

.currentTime_box {
    min-width: 220px;
}

#mainContainer {
    background-color: #222222;
    border: 2px solid white;
    border-radius: 10px;
}

#appDescription {
    letter-spacing: 1px;
    text-align: justify;
}

.mainNav {
    background-color: #36b03c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#mainNav_navbar a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 5px;
}

#mainNav_navbar a:hover {
    background-color: #47c14d;
}

#mainFooter {
    font-size: 20px;
}

.greenButton {
    background-color: #36b03c;
    color: white;
    letter-spacing: 1px;
    width: 300px;
    height: 60px;
}

.greenButton:hover {
    background-color: #47c14d;
    color: white;
}

.greenButton:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

.smallGreenButton {
    background-color: #36b03c;
    color: white;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallGreenButton:hover {
    background-color: #47c14d;
    color: white;
}

.smallGreenButton:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

.smallOrangeButton {
    background-color: #ff9900;
    color: white;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallOrangeButton:hover {
    background-color: #ffaa11;
    color: white;
}

.smallOrangeButton:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

.smallRedButton {
    background-color: #ff3300;
    color: white;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallRedButton:hover {
    background-color: #ff3300;
    color: white;
}

.smallRedButton:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

label {
    letter-spacing: 1px;
    font-size: 20px;
    white-space: nowrap;
}

.userInput {
    width: 300px;
    background-color: #eeeeee;
    color: #666;
    border: 3px solid #36b03c;
    border-radius: 5px;
    font-size: 20px;
}

.userInput:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
    border: 3px solid #36b03c;
    background-color: #eeeeee;
    color: #428c42;
}

@media (max-width: 768px) {
    h1 {
        white-space: normal;
    }

    #mainHeader {
        flex-direction: column;
    }

    #comment,
    #expenseCategory {
        width: 75% !important;
    }
}

@media (max-width: 992px) {
    #mainNav_navbar a {
        text-align: center;
    }
}