body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/footer_lodyas.png");
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
    color: yellow;
    white-space: nowrap;
}

#currentTime {
    font-size: 22px;
    font-weight: bold;
}

.currentTime_box {
    min-width: 220px;
}

#mainContainer {
    background-color: #222222;
    border: 2px solid white;
    border-radius: 10px;
}

#appDescription {
    letter-spacing: 1px;
    text-align: justify;
}

#mainFooter {
    font-size: 20px;
}

.button {
    background-color: #36b03c;
    color: white;
    letter-spacing: 1px;
    width: 300px;
}

@media (max-width: 768px) {
    h1 {
        white-space: normal;
    }

    #mainHeader {
        flex-direction: column;
    }
}