body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/footer_lodyas.png");
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

.container {
    min-width: 62%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_image {
    color: yellow;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
    color: yellow;
    padding-left: 20px;
    flex: 1 0 auto;
}

.header_date {
    font-size: 24px;
    font-weight: bold;
}

#mainPage {
    background-color: #222222;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mainPage_appDescription {
    max-width: 40%;
    min-width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainPage_appDescription h2 {
    text-align: center;
    letter-spacing: 1px;
}

.mainPage_appDescription p {
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 20px 30px;
}

.mainPage_userPanel {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainPage_userPanel div {
    text-align: right;
}

.mainPage_userPanel div.mainPage_userPanel_buttonText{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.mainPage_userPanel label {
    font-size: 20px;
}

#mainPage_userPanel_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[type=button],
input[type=reset] {
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 25px;
}

input[type=button]:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

input[type=button]:hover {
    background-color: #47c14d;
}

input[type=button]#mainPage_panel_logIn {
    width: 140px;
    margin-right: 20px;
}

input[type=reset]#mainPage_panel_reset {
    width: 140px;
    background-color: #ff9900;
    margin-left: 0px;
}

input[type=button]#mainPage_panel_back {
    width: 140px;
    background-color: #ff3300;
    margin-left: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 300px;
    background-color: #eeeeee;
    color: #666;
    border: 3px solid #36b03c;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    flex: 1 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9); 
    box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
    border: 3px solid #36b03c;
    background-color: #eeeeee;
    color: #428c42;
}

footer {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 10px;
    flex-wrap: wrap;
}

footer div {
    margin: 0 15px;
}